<div class="card">
    <h5 class="card-header card-header-color">User Registration</h5>
    <div class="card-body">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Add User</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="addForm" (ngSubmit)="addUser()">

                    <div class="row mb-3">
                        <div class="form-group col">
                            <label>Title</label>
                            <select class="form-control" formControlName="title">
                                <option value="">--Select Title--</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label>First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name">
                        </div>
                        <div class="form-group col-5">
                            <label>Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-5">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" formControlName="dob">
                        </div>
                        <div class="form-group col-5">
                            <label>Email</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-5">
                            <label>Password</label>
                            <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                        </div>
                        <div class="form-group col-5">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter Confirm Password">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col form-check">
                            <input type="checkbox" class="form-check-input" id="acceptTerms" formControlName="acceptTerms" />
                            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success me-2">Save</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>
        <h5 class="card-header card-header-list-color">User List</h5>
        <div style="text-align: right;">
            <button class="btn btn-outline-primary mb-2 me-2 mt-2" (click)="openXl(content)">Add User</button>
        </div>
        <div class="form-row">
            <div class="form-group-col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mr</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>2000-09-23</td>
                            <td>john@gmail.com</td>
                            <td>
                                <i class="fa fa-edit text-success me-2" (click)="onEdit(1)"></i>
                                <i class="fa fa-trash-o text-danger" (click)="onDelete(1)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


